pipeline/Transformations_Pipelines.json
{
	"name": "Transformations_Pipelines",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_f1_bronze",
						"type": "DatasetReference",
						"parameters": {
							"End_file_date": {
								"value": "@pipeline().parameters.FileDate",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Race_result",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vinayaksitapazure@gmail.com/F1/03.Transformations/01.race_result",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.FileDate,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks189",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Driver_Standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Race_result",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vinayaksitapazure@gmail.com/F1/03.Transformations/02.Driver_Standings",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.FileDate,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks189",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Constructors_Standings",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Race_result",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vinayaksitapazure@gmail.com/F1/03.Transformations/03.Constructors_Standings",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.FileDate,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks189",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "calculate_raceresult",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/vinayaksitapazure@gmail.com/F1/03.Transformations/04.calculate_race_result",
								"baseParameters": {
									"file_date": {
										"value": "@formatDateTime(pipeline().parameters.FileDate,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks189",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileDate": {
				"type": "string"
			}
		},
		"annotations": []
	}
}